<h2>Register</h2>
<form method="POST" action="/signup">
  <label>Username: <input name="username" required></label><br>
  <label>Email: <input name="email" required></label><br>
  <label>Password: <input type="password" name="password" required></label><br>
  <label>First Name: <input name="firstname"></label><br>
  <label>Last Name: <input name="lastname"></label><br>
  <button type="submit">Register</button>
</form>
